.layout {
  position: relative;
  transition: all 0.4s ease-in-out;
  &.login,
  &.register {
    background-color: var(--base--color--main);
  }
  &.menuOpened {
    margin-right: 35%;
    @media (max-width: 576px) {
      margin-right: 0;
    }
  }
}

.layoutWrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content {
  margin: var(--base--spaces--10) 0;
}
