.footer {
  padding: var(--base--spaces--6) var(--base--spaces--4) var(--base--spaces--3);
  background-color: var(--base--color--black);
  @media (max-width: 1024px) {
    padding: var(--base--spaces--4) var(--base--spaces--4);
  }
  > *,
  a {
    color: var(--base--color--grey-5);
  }
  a {
    font-weight: 700;
    &:hover {
      color: var(--base--color--green);
    }
  }
  .topFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    @media (max-width: 1024px) {
      flex-direction: column;
      row-gap: var(--base--spaces--5);
    }
    a,
    span {
      color: #fff;
      &:hover {
        color: var(--base--color--green);
      }
    }
  }
  .copyright {
    text-align: center;
    margin: var(--base--spaces--2) 0;
    a,
    span {
      @media (max-width: 576px) {
        font-size: var(--base--font--size-sm);
      }
    }
    a {
      &:hover {
        color: var(--base--color--green);
      }
    }
    span {
      color: var(--base--color--grey-5);
    }
  }
}
