.singlePost {
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-gap: var(--base--spaces--15);
  @media (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
  }
  .content {
    .thumbnail {
      position: relative;
      &::after {
        content: '';
        display: block;
        padding-bottom: 46.6%;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .authorWrap {
      padding: var(--base--spaces--3) 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
      .author {
        display: grid;
        grid-template-columns: 70px auto;
        align-items: center;
        grid-gap: var(--base--spaces--2);
        .photo {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          border: 3px solid var(--base--color--main);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .name {
          h4 {
            padding-bottom: 0;
          }
        }
      }
      .editPost {
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        grid-gap: var(--base--spaces--2);
      }
    }
  }
}
