.shUploadInput {
  position: relative;
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: var(--base--color--main);
  height: auto;
  padding: var(--base--spaces--2);
  width: 100%;
  &:after {
    content: '';
    display: block;
    padding-bottom: 92.6%;
  }
  label {
    cursor: pointer;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }
}
.root {
  display: block;
  width: 100%;
  display: none;
  ~ label {
    cursor: pointer;
  }
  &.error {
    border: 2px solid var(--base--color--red);
    background-color: var(--base--color--red);
    color: var(--base--color--white);
    &::placeholder {
      color: var(--base--color--white);
    }
  }
  &:focus {
    border: 1px solid var(--base--color--green);
  }
}

.errorTxt {
  display: block;
  color: var(--base--color--red);
  font-size: var(--base--font--size-sm);
  margin-top: var(--base--space--1);
}

.uploadWrapper {
  margin: var(--base--spaces--3) 0 var(--base--spaces--5);
  width: 40%;
  position: relative;
  &:hover {
    .removeBtn {
      opacity: 1;
    }
  }
}

.removeBtn {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
